.button{
  width: 60px;
  min-height: 60px;
  text-align: center; 
}

.calculateButton{
  width: 120px;
  height:60px;
  text-align: center;
}

.calculator .right{
  position:absolute;
    top:0px;
    left:50%;
    width: 50%;
    height:100%;
    overflow-y: auto;
    text-align: center;
    margin-top: 80px;
}

.calculator .left{
  width: 40%;
  margin-left: 20px;
}

.calculator{
  width: 45%;
  margin-top: 150px;
  margin-left: 350px;
  padding-bottom: 20px;
  padding-top: 10px;
  background-color: #cecece;
  position: relative;
}